name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: "ubuntu-latest"
    if: "!contains(github.event.commits[0].message, '[ci-skip]')"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'
      - uses: gradle/actions/setup-gradle@v5
      - name: build
        run: ./gradlew shadowJar
      - uses: actions/upload-artifact@v6
        with:
          path: ./build/libs/*
